.Navbar-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    @media (min-width: 720px) {
        max-width: 42rem;
        margin: auto;
    }
    .navbar {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2rem;
        .item {
            margin-right: 2rem;
        }
        .sun {
            font-size: 1.6rem;
            color: $color-sun;
        }
        .moon {
            font-size: 1.6rem;
            color: $color-moon;
        }
    }
}